*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes{
   margin: 2em 1em;
   background-color: pink;
   padding: 2em 1em;
   width: 80%;
   border: black solid 2px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  
}

